Repository PlaceholderProject/placeholder_BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: cspell, run-tests

cspell:
  name: cspell
  description: This hook runs cspell spellchecker
  entry: cspell
  language: node
  args:
  - --no-must-find-files
  verbose: true

run-tests:
  name: Run pytest
  description: Run pytest to execute the test suite before committing
  entry: poetry run pytest
  language: system
  pass_filenames: false
  verbose: true

[FEATURE] server settings
  cspell.json
  etc/nginx/sites-available/placeholder
Due: cspell

[FEATURE] server settings
  placeholder/settings/prod.py
Due: run-tests

[FEATURE] server settings
  etc/nginx/sites-available/placeholder
Due: cspell

[FIX] notification url, proposal api 수정
  notification/models/notification.py
  user/apis/user.py
Due: cspell, run-tests

[feature] memeber 삭제 시 proposal도 같이 삭제
  meetup/apis/member.py
Due: cspell, run-tests

[REFACTOR] Django Ninja 최적화 및 API 에러 처리 통일화
  meetup/apis/meetup.py
  meetup/apis/meetup_comment.py
  meetup/apis/member.py
  meetup/apis/proposal.py
  meetup/apis/schedule.py
  meetup/apis/schedule_comment.py
  placeholder/utils/auth.py
  placeholder/utils/exceptions.py
Due: cspell, run-tests

[TEST] pytest 기반 테스트 인프라 구축 및 관리 도구 추가
  CLAUDE.md
  Makefile
  README_sitemap.md
  meetup/management/__init__.py
  meetup/management/commands/__init__.py
  meetup/management/commands/generate_sitemap.py
  placeholder/utils/s3.py
  pytest.ini
  tests/README.md
  tests/conftest.py
  tests/meetup/test_meetup_api.py
  tests/meetup/test_member.py
  tests/meetup/test_models.py
  tests/test_fixed.py
  tests/test_integration.py
  tests/test_sitemap_command.py
  tests/test_utils.py
  tests/user/test_auth.py
  tests/user/test_models.py
Due: cspell, run-tests

[DOCS] 사실 기반의 포괄적인 README 작성
  README.md
  cspell.json
Due: cspell

Path conditions:
  cspell: any file but: Procfile|static/launch/assets/|.extensions/|\.(conf|svg|css)$|.*/migrations|\.pre-commit-config\.yaml|.gitignore|pyproject.toml|placeholder.iml|poetry.lock|requirements.txt|placeholder/settings/|pytest.ini|placeholder/asgi.py
  run-tests: any of: \.py$, but not: ^migrations/
